* {
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    text-shadow: 5em;
    font-size: 2em;
    font-weight: 300;
    margin-top: 5px;
    background-color: rgb(8, 2, 27);
    color: aliceblue;
}

img {
    width: 140px;
    height: 140px;
    padding-top: 30px;
    margin: 30px;
    display: inline;
    justify-content: center;
    align-content: center;
    transition: all 1s;
}

img:hover {
    rotate: -90deg;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reply {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5em;
    font-size: 2em;
    font-weight: 700;
    margin-top: 17px;

}

.msg {
    text-align: center;
    margin: 10px;
    border: 4px solid rgb(255, 196, 0);
    background-color: rgb(236, 166, 14);
    padding: 10px;
    border-radius: 1em;

}

.result {
    text-align: center;
    text-shadow: 3em;
    font-size: 2em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 2em;

}